{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% assign nav_url = link.url | remove_first: site.baseurl %}
            {% if page.url == nav_url or page.url contains nav_url %}
              {% assign nav_active = true %}
            {% else %}
              {% assign nav_active = false %}
            {% endif %}
            <li class="masthead__menu-item{% if nav_active %} active{% endif %}"><a href="{{ domain }}{{ link.url }}"{% if nav_active %} aria-current="page"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
